header {
    background-color: #800020;
    color: white;
    padding: 20px;
    font-style: italic;

}

header a {
    color: white;
    margin-left: 20px;
    font-style: italic;
    
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: black;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

}